<!--

    Кнопки для установки максимального количества строк на листе таблицы

-->

<!--Если есть хоть одна страница, то отображаем панель-->
<div  class="btn-group btn-group-xs animated fadeIn" role="group" aria-label="..." title="Максимальное количество строк на странице ">

    <button ng-repeat="i in [3, 5, 10, 20]" class="btn btn-xs" 
            ng-class="{'btn-primary' : maxRows == i, 'btn-default' : maxRows != i}" 
            ng-click="setMaxRows(i)">
        {{i}}
    </button>

</div>
