<p>
    Unit
    <span class="label label-primary">
        Авторы
    </span>
</p>

<div id="authorsMain" ng-controller="AuthorsController">
    
    <div class="row">

        <div class="col-md-12">

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <sw-data-grid-view source="authorsData"
                               max-rows="10"
                               add-item="addItem"
                               remove-item="removeItem"
                               update-item="updateItem"
                               reload-data="reloadData">

            </sw-data-grid-view>

        </div>

    </div>

</div>
