<p >
    
    <span class="label label-danger">
        Идательства&nbsp;&nbsp;&nbsp;
    </span>
</p>

<div id="publishersMain" ng-controller="PublishersController">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <sw-data-grid-view source="publishersData"
                               max-rows="10"
                               add-item="addItem"
                               remove-item="removeItem"
                               update-item="updateItem"
                               reload-data="reloadData">
            </sw-data-grid-view>
        </div>
    </div>
</div>
