

@*
    
    Список авторов

    1. Редактировать в списке 

    2. Редактировать в форме 
        
    Список книг

*@ 



<div ng-app="appLibrary" ng-controller="LibraryCtrl" class="row">

    <div class="col-md-12">

        @Html.Partial("_AuthorTableView")

    </div>


</div>

